*{
    margin: 0;
    padding: 0;
    list-style:none;
    text-decoration: none;
    box-sizing: border-box;
}

:root{
    --vermelho: #E50914;
    --preto: #141414;
}

body{
    background: var(--preto);
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

/* Cabeçalho */
header .container{
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.logo{
    color: var(--vermelho);
    font-family: 'Arial Black', 'Times New Roman', Times, serif;
    font-size: 40px;
}

.cabecalho__link{
    color: #AAA;
    margin-right: 10px;
}

.cabecalho__link:hover{
    color: #fff;
}

/* Filme Principal*/

.filme__principal{
    font-size: 16px;
    background:linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50)100%) ,url('../assets/img/back__greys__anatomy.jpg');
    background-size: cover;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme__principal .container{
    margin-left: 15px;
}

.titulo{
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    margin-top: 10%;
}

.descricao{
    margin-top: 10px;
    width: 50%;
    margin-bottom: 90px;

}

.botoes{
    display: flex;
}

.botao{
    background-color: rgba(0,0,0, .50);
    border: none;
    color: white;
    padding: 15px;
    margin-left: 15px;
    font-size: 12px;
}

.fas{
    margin-right: 2px;
}

.botao:hover{
    cursor: pointer;
    transition: 0.3s ease all;
    background-color: white;
    color: black;
}